.about h1{
    padding-top: 100px;
    font-family: sci-fi3;
    text-align: center;
}

/* card */
.head{
    text-align: center;
}
.head h1{
    font-family: sci-fi3;
    letter-spacing: 4px;
}
.head h5{
    font-family: Arial, Helvetica, sans-serif;
}
.person{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}
.content{
    margin: auto;
    background: url(../assets/card.jpg);
    width: 320px;
    height: 320px;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    box-shadow: 5px 5px 30px;
    border: 8px solid #FFBF01;
    display: flex;
    align-items: end;
    justify-content: center;
}
.text{
    color: rgb(0, 0, 0);
    font-weight: lighter;
    padding-top: 80px;
    text-align: center;
}
.text #name{
    padding-top: 2px;
    letter-spacing: 5px;
    font-family: sci-fi3;
}
.text #role{
    letter-spacing: 2px;
    font-family: "Ubuntu", sans-serif;
    font-size: 12px;
    font-weight: 700;
}
.person-links{
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.person-links a{
    
    color: black;
    padding-top: 8px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 8px;
    border-radius: 100px;
    background-color: rgb(255, 255, 255);
    box-shadow: black 2px 2px 10px;
    transition: .5s;
}
.person-links a:hover{
    background-color: rgb(255, 225, 53);
    color: rgb(0, 0, 0);
}
/* cv */

.about-cv{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    
    
}
.cv{
    border: 5px solid yellow;
    padding: 10px 20px;
    background: transparent;
    backdrop-filter: blur(5px);
    border-radius: 10px;
    width: max-content;
    transition: 2s;
    box-shadow: 2px 2px 10px black;
}
.cv a{
    font-family: designer;
    transition: 2s;
}
.cv:hover{
    padding: 15px 25px;
    a{
        letter-spacing: 2px;
        color: white;
    }
}

/* text */
.about-content{
    margin-top: 50px;
    line-height:150%;
    padding-left: 50px;
    padding-right: 50px;
    text-align: justify;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
@media screen and (max-width:768px) {

    .about-content{
        padding: 40px;
    }

}