.contact{
    padding-top: 100px;
}
.contact h1{
    font-family: sci-fi3;
    text-align: center;
}
.contact p{
    margin-top: 40px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.contact-links{
    margin-top: 20px;
    display: flex;
    gap: 20px;
    justify-content: center;
}
.cl i{
    height: fit-content;
    box-shadow: 2px 2px 10px;
    padding: 10px;
    border-radius: 30px;
}
.cl a{
    display: flex;
}
.cl a p{
    font-weight: bold;
    padding-left: 10px;
    display: flex;
    margin: 0px;
    align-items: center;
}
.cl{
    box-shadow: 2px 2px 10px;
    border-radius: 30px;
    padding: 10px;
    transition: .5s;
}
.cl:hover{
    box-shadow: yellow 4px 4px 20px;
    cursor: pointer;
    i{
        color: white;
        box-shadow: white 2px 2px 10px;
    }
    p{
        color: white;
    }
}
@media screen and (max-width:768px) {
    .contact-links{
        display: grid;
    }
    
}