footer{
    margin-top: 100px;
    background: linear-gradient(yellow,#ffd21d,rgb(210, 155, 1));
    box-shadow: -3px -3px 20px yellow;
    padding: 20px;
}
.foot-content{
    font-family: Arial, Helvetica, sans-serif;
}
.foot-content h1{
    text-align: center;
    font-family: sci-fi3;
    letter-spacing: 2px;
}
.foot-content h3{
    text-align: center;
    margin-top: 10px;
    
}
.foot-content p{
    font-weight: bold;
    margin-top: 5px;
    text-align: center;
    font-size: 13px;
}
.footer-links{
    margin-top: 50px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.footer-links a{
    
    color: black;
    padding-top: 8px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 8px;
    border-radius: 100px;
    background-color: transparent;
    box-shadow: black 2px 2px 10px;
    transition: .5s;
}
.footer-links a:hover{
    cursor: pointer;
    background-color: rgb(255, 225, 53);
    box-shadow: white 2px 2px 30px;
    color: rgb(0, 0, 0);
}
.copyright{
    font-size: 12px;
    font-family: cursive;
    text-align: center;
    font-weight: bold;
}